:root {
    // background colors
    --primary-color: #6464C8; // Discord colors :poggers:
    --light-color: #ffffff;
    --dark-color: #d1d1d1;
    --danger-color: #ae2525;

    // text colors
    --text-light-color: #ffffff;
    --text-dark-color: #3a3a3a;

    // box colors
    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}