@import "../../style/mixins.scss";

.navbar{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--text-light-color);

    .button-logout {
        @include lnk();
    }

    a,
    .button-logout {
        margin-right: 3rem;
        color: unset;
    }

    
}