// same styling for register and login components
    // reuse the card from mixins
@import "../../style/mixins.scss";

.auth-form {
    @include card();

    h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .button-register {
        @include btn();

        margin-bottom: 1rem;
        
        background: var(--primary-color);
        color: var(--text-light-color);
    }

    .button-login {
        @include btn();

        margin-bottom: 1rem;
        
        background: var(--primary-color);
        color: var(--text-light-color);
    }
}